[submodule "pytorch-image-models"]
	path = submodules/	git mv pytorch-image-models submodules/pytorch-image-models	git mv pytorch-image-models submodules/pytorch-image-modelspytorch-image-models
	url = https://github.com/huggingface/pytorch-image-models.git
